.app__liveClasses {
    width: 80%;
    margin: 4rem auto;
}

.app__liveClasses > h1 {
    font-size: 2rem;
    margin: 1rem ;
}

.app__instructorProfiles {
    padding: 68px 150px;
    background-color: #070d1d;
    color: #fff;
}

@media (max-width: 758px) {
    .app__instructorProfiles {
        padding: 3rem 5rem;
    }
}

@media (max-width: 400px) {
    .app__instructorProfiles {
        padding: 3rem 2rem;
    }
}